{% extends "network/layout.html" %} {% block body %}
<div class="container">
  <h2 class="mt-3">Create A New Post</h2>
  <form id="create_form" action="{% url 'create_post' %}">
    <label for="title" class="form-label mt-3">Title:</label>
    <input type="text" id="title" class="form-control" />
    <label for="title" class="form-label mt-3">Content:</label>
    <textarea type="text" id="title" class="form-control" rows="4"></textarea>
    <input type="submit" value="Create" class="btn btn-outline-primary mt-3" />
  </form>
</div>
{% endblock %}
