{% extends "network/layout.html" %} 
{% load static %} 
{% block body %}
<div class="container">
  <!-- Alert  -->
  <div class="alert alert-primary my-3 d-none" role="alert"></div>

  <!-- Post Form -->
  <div id="create-post-form" class="d-none">
    <form id="create-form">
      <label for="title" class="form-label mt-3">Title:</label>
      <input type="text" id="title" name="title" class="form-control" />
      <label for="body" class="form-label mt-3">Content:</label>
      <textarea
        type="text"
        id="body"
        name="body"
        class="form-control"
        rows="4"
      ></textarea>
      <input
        type="submit"
        value="Create"
        class="btn btn-outline-primary mt-3"
      />
    </form>
  </div>
  <button id="open-create-form">Create Post</button>


<!-- Paginator -->
{% for post in page_obj %}
  <div class="post">
    <a href="{% url 'profile' post.user.id %}">
      <p>{{ post.user }}</p>
    </a>
    <h3>{{ post.title }}</h3>
    <p>{{ post.content }}</p>
    <div class="d-flex justify-content-between">
      <span>Likes: {{ post.likes }}</span>
      <span>{{ post.created_at }}</span>
    </div>
  </div>
{% endfor %}

<nav aria-label="Page navigation">
  <ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?page=1" aria-label="First">
        <span aria-hidden="true">&laquo;&laquo;</span>
      </a>
    </li>
    <li class="page-item">
      <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {% endif %}
    {% for num in page_obj.paginator.page_range %}
    {% if page_obj.number == num %}
    <li class="page-item active"><span class="page-link">{{ num }}</span></li>
    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
    <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
    {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
    <li class="page-item">
      <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
    <li class="page-item">
      <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Last">
        <span aria-hidden="true">&raquo;&raquo;</span>
      </a>
    </li>
    {% endif %}
  </ul>
</nav>
</div>

{% block script %}
<script src="{% static 'network/index.js' %}"></script>
{% endblock %} {% endblock %}