{% extends "network/layout.html" %} {% load static %} {% block body %}
<div class="container">
  <!-- Alert  -->
  <div class="alert alert-primary my-3 d-none" role="alert"></div>

  <!-- Post Form -->
  <div id="create-post-form" class="d-none">
    <form id="create-form">
      <label for="title" class="form-label mt-3">Title:</label>
      <input type="text" id="title" name="title" class="form-control" />
      <label for="body" class="form-label mt-3">Content:</label>
      <textarea
        type="text"
        id="body"
        name="body"
        class="form-control"
        rows="4"
      ></textarea>
      <input
        type="submit"
        value="Create"
        class="btn btn-outline-primary mt-3"
      />
    </form>
  </div>
  <button id="open-create-form">Create Post</button>

  {% for post in posts %}
  <div class="post">
    <p>{{ post.user }}</p>
    <h3>{{ post.title }}</h3>
    <p>{{ post.body }}</p>

    <div class="d-flex justify-content-between">
      <span>Likes: {{ post.likes }}</span>
      <span>{{ post.created_at }}</span>
    </div>
    <input
      type="text"
      name="comment"
      id="comment"
      placeholder="Add a comment..."
    />
  </div>
  {% endfor %}
</div>
{% block script %}
<script src="{% static 'network/index.js' %}"></script>
{% endblock %} {% endblock %}
