{% extends "network/layout.html" %} {% load static %} {% block body %}
<div class="container">
  <!-- Alert  -->
  <!-- <div class="alert alert-primary my-3 d-none" role="alert"></div> -->

  <h3>{{ user.username }}</h3>

  <div class="f">{{ following }}</div>

  {% for post in posts %}
  <div class="post">
    <h3>{{ post.title }}</h3>
    <p>{{ post.body }}</p>
    <div class="d-flex justify-content-between">
      <span>Likes: {{ post.likes }}</span>
      <span>{{ post.created_at }}</span>
    </div>
    <input
      type="text"
      name="comment"
      id="comment"
      placeholder="Add a comment..."
    />
  </div>
  {% endfor %}
</div>
{% block script %}
<script src="{% static 'network/index.js' %}"></script>
{% endblock %} {% endblock %}
