p {
  margin: 0;
}

/* Basic container for entire app */
.container {
  width: 50%;
}

/* Link decoration */
a {
  color: rgb(24, 24, 24);
}
a:hover {
  text-decoration: none;
}

/* Posts */
.post {
  margin-bottom: 20px;
  padding: 0.5em;
  border: 1.5px solid rgb(0, 56, 0);
}

/* Like/Unlike */
.like-post, .unlike-post {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}